.outletNavBar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.outletNavItem {
  margin: 2px;
  width: 100%;
  height: 50px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border: 1px solid black;
  border-radius: 3px;

  text-align: center;

  font-family: sans-serif;
  font-weight: bold;
  font-size: 12px;
}
.outletNavItemOrder {
  margin: 2px;
  width: 100%;
  height: 30px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border: 1px solid black;
  border-radius: 3px;

  text-align: center;

  font-family: sans-serif;
  font-weight: bold;
  font-size: 12px;
}

.outletNavItem:hover {
  background-color: lightgray;
}
.outletNavItemOrder:hover {
  background-color: lightgray;
}

.productId {
  color: gray;
}

.viewItemsHeader {
  /* border: 1px solid black; */
  border-radius: 3px;
  font-weight: bold;
}
.viewItems {
  width: 100%;
  margin: 10px;

  border: 1px solid black;

  display: flex;
  flex-direction: row;
  justify-content: center;
}
.viewItemID {
  margin: 10px;
  width: 10%;

  display: flex;
  flex-direction: column;
}
.viewItemImage {
  margin: 10px;
  width: 20%;

  display: flex;
  flex-direction: column;
}
.viewItemDetails {
  margin: 10px;
  width: 50%;
  display: flex;
  flex-direction: column;
}
.viewItemUptDltHeader {
  margin: 10px;
  width: 10%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.viewItemUptDlt {
  margin: 10px;
  width: 10%;

  border: 1px solid black;

  display: flex;
  justify-content: center;
  align-items: center;
}

.handleConfirmDetailsDiv {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.handleConfirmDetails {
  width: 60%;
  height: 25px;
  display: inline-block;
  margin-right: 5px;
  padding-left: 10px;
}
.handleConfirmDetailsBtn {
  width: 20%;
  height: 31px;
  display: inline-block;
}

.delConfirmDiv {
  margin-bottom: 20px;
}
.delConfirmBtn {
  width: 80px;
  height: 30px;
}

.dlt {
  border: 1px solid black;
}
